.wrapper {
          --input-focus: #2d8cf0;
          --font-color: #323232;
          --font-color-sub: #666;
          --bg-color: #fff;
          --bg-color-alt: #666;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: #f0f0f0;
          margin-top: 60px;
        }

        .switch {
          transform: translateY(-200px);
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 30px;
          width: 50px;
          height: 20px;
        }

        .card-side::before {
          position: absolute;
          content: 'Đăng nhập';
          left: -110px;
          top: 0;
          width: fit-content;
          text-decoration: underline;
          color: var(--font-color);
          font-weight: 600;
          background-image: url("/images/background_form_title.svg");
          background-position: center;
          background-repeat: no-repeat;
          padding: 5px 15px;
        }

        .card-side::after {
          position: absolute;
          content: 'Đăng ký';
          right: -110px;
          top: 0;
          width: fit-content;
          text-decoration: none;
          color: var(--font-color);
          font-weight: 600;
          padding: 5px 15px;
        }

        .toggle {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          box-sizing: border-box;
          border-radius: 5px;
          border: 2px solid #FBBC05;
          box-shadow: 4px 4px #FBBC05;
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #fff;
          transition: 0.3s;
        }

        .slider:before {
          box-sizing: border-box;
          position: absolute;
          content: '';
          height: 20px;
          width: 20px;
          border: 2px solid #000;
          border-radius: 5px;
          left: -2px;
          bottom: 2px;
          background-color: var(--bg-color);
          box-shadow: 0 3px 0 #FBBC05;
          transition: 0.3s;
        }

        .toggle:checked + .slider {
          background-color: var(--input-focus);
        }

        .toggle:checked + .slider:before {
          transform: translateX(30px);
        }

        .toggle:checked ~ .card-side::after {
          text-decoration: underline;
          background-image: url("/images/background_form_title.svg");
          background-position: center;
          background-repeat: no-repeat;
          padding: 5px 15px;
        }

        .toggle:checked ~ .card-side::before {
          text-decoration: none;
          background-image: none;
        }

        .flip-card__inner {
          width: 350px;
          height: 350px;
          position: relative;
          background-color: transparent;
          perspective: 1000px;
          text-align: center;
          transition: transform 0.8s;
          transform-style: preserve-3d;
        }

        .toggle:checked ~ .flip-card__inner {
          transform: rotateY(180deg);
        }

        .flip-card__front,
        .flip-card__back {
          padding: 20px;
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          background: #fff;
          gap: 20px;
          border-radius: 5px;
          border: 2px solid #000000;
          box-shadow: 4px 4px #4285F4;
        }

        .flip-card__back {
          width: 100%;
          transform: rotateY(180deg);
        }

        .flip-card__form {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
        }

        .title {
          margin: 15px 0 15px 0;
          font-size: 25px;
          font-weight: 900;
          text-align: center;
          color: var(--main-color);
        }

        .flip-card__input {
          width: 300px;
          height: 40px;
          border-radius: 5px;
          border: 2px solid #000000;
          background-color: var(--bg-color);
          font-size: 15px;
          color: var(--font-color);
          padding: 5px 10px;
          outline: none;
        }

        .flip-card__input::placeholder {
          color: var(--font-color-sub);
          opacity: 0.8;
        }

        .flip-card__input:focus {
          border: 2px solid var(--input-focus);
        }

        .flip-card__btn:active,
        .button-confirm:active {
          box-shadow: 0px 0px #EB4335;
          transform: translate(3px, 3px);
        }

        .flip-card__btn {
          margin: 5px 0 0 0;
          width: 120px;
          height: 40px;
          border-radius: 5px;
          border: 2px solid #000;
          background-color: var(--bg-color);
          box-shadow: 4px 4px #EB4335;
          font-size: 17px;
          font-weight: 600;
          color: var(--font-color);
          cursor: pointer;
        }

        .flip-card__btn_google {
          margin: 5px 0 20px 0;
          width: 300px;
          height: 40px;
          border-radius: 5px;
          border: 2px solid #34A853;
          background-color: var(--bg-color);
          font-size: 17px;
          font-weight: 600;
          color: var(--font-color);
          cursor: pointer;
        }